{% extends 'base.html.twig' %}

{% block title %}Genève Ville Vivante{% endblock %}

{% block body %}
    <div class="home-projects-container">
        <div class="container">
            {{ component('header-title-subtitle', { slug: 'be-gvv'}) }}
            {{ component('projects', { isForHome: true }) }}
        </div>

    </div>
    <div class="home-team-container">
        <div class="container">
            {{ component('header-title-subtitle',  { slug: 'home-la-team'}) }}
            {{ component('team', { slug: 'geneve-ville-vivante'} ) }}
        </div>
    </div>
{% endblock %}
