@import "variables";
@import "~bootstrap";
@import "components/header/header-banner";
@import "components/header/header-title-subtitle";
@import "components/media/image-title-description";
@import "components/project/projects";

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $navbarHeight;
    line-height: $navbarHeight; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container-fluid {
    padding: $navbarHeight 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

main
{
    margin-top: $navbarHeight - 5px;
}
